{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<p>name: {{ current_user.name }}</p>
<p>created on: {{ current_user.created_on }}</p>
<p>user role: {{ current_user.role.name }} </p>
<p>prilevel: {{ current_user.role.level }} </p>

<ul>
	<li><a href="{{ url_for('pay') }}">upgrade account</a>
	<li><a href="{{ url_for('unpay') }}">downgrade account</a>
	<li><a href="{{ url_for('content') }}">paid content</a>
	<li><a href="{{ url_for('viauth.update') }}">update profile</a>
	<li><a href="{{ url_for('viauth.logout') }}">logout</a>
</ul>
<p>admin actions</p>
<ul>
	<li><a href="{{ url_for('viauth.users') }}">view users</a>
	<li><a href="{{ url_for('viauth.roles') }}">view roles</a>
</ul>
{% endblock %}
